.image-drag-n-drop{
    padding: 30px;
    background-color: rgb(199, 193, 193);
}

.image-preview{
    display: flex;
    flex: 1;
    gap: 2rem;
    flex-wrap: wrap;
}

.image-preview-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-image{
    display: block;
    padding: 2rem;
}

.remove-button{
    display: block;
    width: 15rem;
}